#NEON DB
DATABASE_BASE_URL="YOUR_NEON_DB_URL"
DATABASE_STRING_CONNECTION='postgresql://NEON_STRING_CONNECTION'
DATABASE_HOST='YOUR_NEON_HOST_NAME'
DATABASE_NAME='YOUR_NEON_DATABASE_NAME'
DATABASE_USER='YOUR_NEON_DATABASE_USER'
DATABASE_PASSWORD='YOUR_NEON_DATABASE_PASSWORD'


#STORAGE - IMAGEKIT.IO
IMAGEKIT_URL='YOUR_IMAGEKIT_URL' 
IMAGEKIT_KEY='YOUR_IMAGEKIT_PRIVATE_KEY'