.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
}
.containerData {
  display: flex;
  flex-direction: row;
  gap: 8px;
  
}
.info {
  display: flex;
  flex-direction: row;
}
.imageContainer {
  justify-content: center;
  align-items: center;
  display: flex;
}